.loading-wrap{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    .app-loading{
        width: 0.8rem;
        height: 0.8rem;
        margin: auto;
        border-radius: 0.1rem;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: 80%;

        }
    }
}
