@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1603284794106') format('truetype'); 
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfenxiang_2:before {
  content: "\e601";
}

.iconyou:before {
  content: "\e60d";
}

.iconzuo:before {
  content: "\e603";
}

.iconicon4:before {
  content: "\e660";
}

.iconsearch:before {
  content: "\e628";
}

.iconbuoumaotubiao01:before {
  content: "\e600";
}

.iconwode:before {
  content: "\e625";
}

.icongouwuche:before {
  content: "\e602";
}

